.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 204px;
    height: 136px;
    top: 166px;
    left: 293px;
    border: none;
    border-radius: 10px;
    
    padding: 12px 12px 12px 20px;
    gap: 16px;
    background: #FFEFE7;
}

.title{
    width: 172px;
    height: 28px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #161E54;
}

.number{
    width: 172px;
    height: 28px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 36px;
    line-height: 28px;
    color: #161E54;
    text-align: left;
}

.urgentneeded{
    width: 172px;
    height: 24px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FF5151;
}

@media only screen and (max-width: 843px){

    .card{
        width: 165px;
        height: 120px;
    }
    .title{
        height: 24px;
        font-size: 16px;
        line-height: 24px;

    }

    .number{
        font-size: 32px;
    }

    .urgentneeded{
        font-size: 14px;

    }


}

@media only screen and (max-width: 390px){

   .card{
    width: 320px;
    height: 110px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    
   } 

   .title{
    text-align: left;
   }


}


