.dashboard{
    /* width: 100%; */
    height: 100%;
    /* padding-left: 50px; */
    /* display: flex; */
    background: #FFFFFF;
    

}

.dashboardtitle{
    height: 64px;
    top: 102px;
    left: 293px;
    padding: 10px 10px 10px 0px;
    gap: 10px;


}

.dtxt{
    height: 42px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    color: #161E54;
    text-align: left;
}

.horizonteldiv{
    width: 1px;
    height: inherit;
    
   
    background: #F1F1F1;
}

.background{
    /* width: 100%; */
    height: inherit;
    padding-left: 50px;
    padding-right: 50px;
    background: #FFFFFF;
}

.dash-content{
    /* width: 100%; */
    /* height: 900px; */
    background: #FFFFFF;
    display: flex;
    gap: 30px;
    
    
}


/* jobs Continer */
.jobscontain{
    
    display: flex;
    /* padding: 20px 20px 20px 0px; */
    gap: 20px;
    
}

/* Graph Container */
.graphcontain{
   
    display: flex;
    /* padding: 20px 20px 20px 0px; */
    gap: 40px;
}
    



.leftdiv{
    /* padding-left: 50px; */
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    gap: 20px;
}

@media only screen and (max-width: 843px){

    

    .background{
        width: 744px;
        left: 90px;

    
    }

    .dash-content{
        width: 640px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .jobscontain{
        width: 744px;
    }

    .graphcontain{
        width: 744px;
        gap: 20px;
    }
}

@media only screen and (max-width: 390px) {

    .background{
       display: flex;
       flex-wrap: wrap; 
       padding-right: 20px;
       padding-left: 20px;
    }

    .dash-content{
        display: flex;
        flex-wrap: wrap;

    }

    .dashboardtitle{
        height: 62px;
        top: 70px;
        left: 20px;
        padding: 10px 10px 10px 0px;
        gap: 10px;

    }

    .dtxt{
        font-size: 20px;

    }

    .jobscontain{
        display: flex;
        flex-direction: column;

    }

    .graphcontain{
        display: flex;
        flex-direction: column;
    }
    
  }