.dashboard{
    width: 100%;
    height: 100%;
    
    display: flex;
    

}

.horizonteldiv{
    width: 1px;
    height: 100vh;
    
   
    background: #F1F1F1;
}

.background{
    width: 100%;
    height: inherit;
    
    background: #FFFFFF;
}

.dash-content{
    width: 100%;
    height: 900px;
    background: #FFFFFF;
    display: flex;
    gap: 30px;
    
}


/* jobs Continer */
.jobscontain{
    display: flex;
    
}
